<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916323534675-rg6ft2n61qoi0jhssfvru7bkfaica8oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916323534675-rg6ft2n61qoi0jhssfvru7bkfaica8oj</string>
	<key>API_KEY</key>
	<string>AIzaSyCdXiQybd3dyyEjOL3jWMMSwctV9EoZNt0</string>
	<key>GCM_SENDER_ID</key>
	<string>916323534675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daysSnap</string>
	<key>PROJECT_ID</key>
	<string>daypix-d89f3</string>
	<key>STORAGE_BUCKET</key>
	<string>daypix-d89f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916323534675:ios:a722aec1f62d886e7dc3a6</string>
</dict>
</plist>